// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


ion-content.cards-bg {
  background-color: #f4f4f7;
}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    height: 170px;
    background-color: gray;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle{
    top: 52%;
  }
  .card-time {
    top: 62%;
  }
  .card-subtitle, .card-time {
    font-size: 1.0em;
    position: absolute;
    width: 100%;
    color: #fff;
  }

}


.item .item-content {
  background-color: transparent !important;
}

workout-detail img, .card-background-page img{
  position: absolute;
  top: -20%;
  height: auto;
  width: 100%;
  -webkit-filter: brightness(40%);
  -moz-filter: brightness(40%);
  -o-filter: brightness(40%);
  -ms-filter: brightness(40%);
  filter: brightness(40%);

  z-index: -100;
}

workout-detail{
  .list-ios{
    margin-bottom: 0px;
  }

  ion-header{
    overflow: hidden;
  }

  h2{
    color: white;
  }
}

/* white http://htmlcolorcodes.com/ */
.alert-radio-button:nth-child(1){
  background-color: #FFFFFF;
}

/* gray */
.alert-radio-button:nth-child(2){
  background-color: #808B96;
}

/*orange*/
.alert-radio-button:nth-child(3){
  background-color: #EB984E;
}

/*yellow*/
.alert-radio-button:nth-child(4){
  background-color: #F7DC6F;
}

/*green*/
.alert-radio-button:nth-child(5){
  background-color: #82E0AA;
}

/*blue*/
.alert-radio-button:nth-child(6){
  background-color: #85C1E9;
}

/*purple*/
.alert-radio-button:nth-child(7){
  background-color: #BB8FCE;
}

/*red*/
.alert-radio-button:nth-child(8){
  background-color: #E74C3C;
}

/*black*/
.alert-radio-button:nth-child(9){
  background-color: #000000;
  color: white;
}
  