<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Item Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 text-center *ngIf="selectedItem">
    {{selectedItem.name}}
    <ion-badge item-center>{{formatTime(totalSeconds)}}</ion-badge>
    <ion-icon name="play" (click)="play()"></ion-icon> 
  </h3>


  <ion-list>
    <ion-item ion-item *ngFor="let step of steps">
      {{ step.name }} {{ formatTime(step.seconds) }}
    </ion-item>  
  </ion-list>

</ion-content>
